<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Default form contact -->
            <form #tissue_sample_new="ngForm" (ngSubmit)="onClear();" class="border border-light p-5">

                <p class="h4 mb-4 text-center">New Associated Sample for Collection #{{collection_id}}</p>

                <!-- Id -->
                <div class="form-group">
                    <label for="nid"># Id</label>
                    <input #nid="ngModel" [(ngModel)]="tissue_sample.nid" name="nid" type="number" id="nid" class="form-control" required>
                    <div class="alert alert-danger" role="alert" *ngIf="nid.touched && nid.invalid">
                        # Id is required!
                    </div>
                </div>

                <!-- Donor Count -->
                <div class="form-group">
                    <label for="donor_count">Donor Count</label>
                    <input #donor_count="ngModel" [(ngModel)]="tissue_sample.donor_count" name="donor_count" type="number" id="donor_count" class="form-control" required>
                    <div class="alert alert-danger" role="alert" *ngIf="donor_count.touched && donor_count.invalid">
                        Donor Count is required!
                    </div>
                </div>

                <!-- Material Type -->
                <div class="form-group">
                    <label for="material_type">Material Type</label>
                    <input #material_type="ngModel" [(ngModel)]="tissue_sample.material_type" name="material_type" type="text" id="material_type" class="form-control" required>
                    <div class="alert alert-danger" role="alert" *ngIf="material_type.touched && material_type.invalid">
                        Material Type is required!
                    </div>
                </div>

                <button class="btn btn-info" (click)="create(tissue_sample_new.value);">Submit</button>

            </form>

        </div>
    </div>
</div>

