<br>
<br>
<h1>Associated Tissue Samples</h1>
<br>
<!-- Table containing all the tissue sample entries-->
<div class="d-flex align-items-center bg-light mb-3">
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>#</th>
                <th>Donor Count</th>
                <th>Material Type</th>
                <th>Last Updated</th>
                <th></th>
            </tr>
        </thead>
        <!-- Extraction of all tissue samples from database-->
        <ng-container *ngFor=" let tissue_sample of tissue_samples | async">
            <!-- Filter tissue samples to only those which are associated to the chosen tissue collection-->
            <ng-container *ngIf="tissue_sample.collection_uid == collection_uid">
                <tbody>
                    <tr>
                        <td>{{tissue_sample.nid}}</td>
                        <td>{{tissue_sample.donor_count}}</td>
                        <td>{{tissue_sample.material_type}}</td>
                        <td>{{tissue_sample.last_updated.toDate() | date: 'longDate'}}</td>
                        <!-- Button to delete each tissue sample-->
                        <td>
                            <a><i (click)="delete(tissue_sample)" class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </ng-container>
        </ng-container>
    </table>
</div>